{% extends 'base.html' %}
{% block title %}
    Reviews
{% endblock %}

{% block content %}
   
    
        <h1 style="text-align:center">See what others said!</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <!-- Your Columns HERE -->
                    <th scope="col">ID</th>
                    <th scope="col">Place</th>
                    <th scope="col">Score</th>
                    <th scope="col">Review</th>
                </tr>
            </thead>
            <tbody>
                <!-- Your rows inside the table HERE: -->
                    {% for item in itemReviews %}
                        <tr>
                            <td>{{item[0]}}</td>
                            <td>{{item[2]}}</td>
                            <td>{{item[3]}}</td>
                            <td>{{item[7]}}</td>
                        </tr>
                    {% endfor %}
        
                </tbody>
            </table>
        

{% endblock %}